################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
WebApp.Tools/bin
WebApp.Tools/obj
WebApp.API/bin
WebApp.API/obj
WebApp.Core/bin
WebApp.Core/obj
db/WebApp.db

