WebApp.Tools/bin/Debug/netcoreapp2.1/appsettings.json
WebApp.API/bin/Debug/netcoreapp2.1/WebApp.API.dll
WebApp.API/bin/Debug/netcoreapp2.1/WebApp.API.pdb
WebApp.API/bin/Debug/netcoreapp2.1/WebApp.API.deps.json
WebApp.API/bin/Debug/netcoreapp2.1/WebApp.API.runtimeconfig.json
WebApp.API/bin/Debug/netcoreapp2.1/WebApp.API.runtimeconfig.dev.json
WebApp.API/bin/Debug/netcoreapp2.1/WebApp.Core.dll
WebApp.API/bin/Debug/netcoreapp2.1/WebApp.Core.pdb
WebApp.API/bin/Debug/netcoreapp2.1/appsettings.json
WebApp.API/obj/Debug/netcoreapp2.1/WebApp.API.dll
WebApp.API/obj/Debug/netcoreapp2.1/WebApp.API.pdb
WebApp.API/obj/Debug/netcoreapp2.1/WebApp.API.assets.cache
WebApp.API/obj/Debug/netcoreapp2.1/WebApp.API.csproj.CoreCompileInputs.cache
WebApp.API/obj/Debug/netcoreapp2.1/WebApp.API.csproj.FileListAbsolute.txt
WebApp.API/obj/Debug/netcoreapp2.1/WebApp.API.csprojAssemblyReference.cache
WebApp.Core/bin/Debug/netcoreapp2.1/WebApp.Core.dll
WebApp.Core/bin/Debug/netcoreapp2.1/WebApp.Core.pdb
WebApp.Core/bin/Debug/netcoreapp2.1/WebApp.Core.deps.json
WebApp.Core/bin/Debug/netcoreapp2.1/WebApp.Core.runtimeconfig.json
WebApp.Core/bin/Debug/netcoreapp2.1/WebApp.Core.runtimeconfig.dev.json
WebApp.Core/obj/Debug/netcoreapp2.1/WebApp.Core.dll
WebApp.Core/obj/Debug/netcoreapp2.1/WebApp.Core.pdb
WebApp.Core/obj/Debug/netcoreapp2.1/WebApp.Core.assets.cache
WebApp.Core/obj/Debug/netcoreapp2.1/WebApp.Core.csproj.FileListAbsolute.txt
WebApp.Tools/bin/Debug/netcoreapp2.1/WebApp.Core.dll
WebApp.Tools/bin/Debug/netcoreapp2.1/WebApp.Core.pdb
WebApp.Tools/bin/Debug/netcoreapp2.1/WebApp.Tools.dll
WebApp.Tools/bin/Debug/netcoreapp2.1/WebApp.Tools.pdb
WebApp.Tools/bin/Debug/netcoreapp2.1/WebApp.Tools.deps.json
WebApp.Tools/bin/Debug/netcoreapp2.1/WebApp.Tools.runtimeconfig.json
WebApp.Tools/bin/Debug/netcoreapp2.1/WebApp.Tools.runtimeconfig.dev.json
