<div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="customerForm">
    <div class="form-group" [ngClass]="{'has-success': !f.firstName.invalid, 'has-error':f.firstName.invalid  }">
      <label for="firstName">First Name</label>
      <input hidden formControlName="id">
      <input type="text" class="form-control" id="firstName" formControlName="firstName" ng-from
        placeholder="firstName">
      <small class="form-text text-muted" hidden></small>
      {{f.firstName.errors.required}}
      <label *ngIf="!(!f.firstName.errors.required)" class="control-label">Name is required.</label>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="email" class="form-control" id="lastName" formControlName="lastName" placeholder="lastName">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" formControlName="email" placeholder="name@example.com">
    </div>

    <div class="form-group">
      <label for="address">address</label>
      <textarea class="form-control" id="address" formControlName="address" rows="3"></textarea>
    </div>
  </form>
</div>
<app-alert></app-alert>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  <button [disabled]="customerForm.invalid" type="button" class="btn btn-outline-primary" (click)="save()">Save</button>

</div>
